.sidebar {
  margin: 0;
  padding: 10px;
  border-radius: 10px;

  height: calc(100vh - 20px);
  width: 300px;
  background: #181C20;

  position: fixed;
  left: 10px;
  top: 10px;
  bottom: 10px;
  z-index: 999;

  color: whitesmoke;
  font-family: 'Fira Code';
}